# SimpleX CLI Configuration
SIMPLEX_PATH=C:\\path\\to\\simplex-chat-cli-file
SIMPLEX_DB=C:\\path\\to\\db_chat.db
PORT=5223

# API Configuration
API_BASE_URL=https://exch.cx/api
API_KEY=No need

# AFFILIATE_ID Configuration
AFFILIATE_ID=ID
